:host {
    display: flex;
    justify-content: center;

    input {
        position: relative;
        outline: none;
        width: 80%;
        max-width: 500px;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition:
            border-color 0.3s,
            box-shadow 0.3s;

        &:focus {
            border-color: #333333;
        }
    }
}
