:host {
    display: flex;
    justify-content: center;
    padding: 40px;
}

mat-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;

        mat-form-field {
            margin: 5px;
        }
    }
}

.btns-wrap {
    display: flex;
    justify-content: space-between;
}
